<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Strand7_Steel_Section_Sizing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Strand7_Steel_Section_Sizing.Properties.Settings>
            <setting name="opt_def" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="def_lim" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="def_cases" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="stress_cases" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="analysis_type" serializeAs="String">
                <value>LSA</value>
            </setting>
            <setting name="sections_list" serializeAs="String">
                <value>2-21</value>
            </setting>
            <setting name="opt_stress" serializeAs="String">
                <value>False</value>
            </setting>
        </Strand7_Steel_Section_Sizing.Properties.Settings>
    </userSettings>
</configuration>